/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/.idea
/USB
/data
.DS_Store
/.clj-kondo
/.cpcache
profiles.clj
.idea/

*.json
!package.json
*.csv
*.numbers
*.xlsx
*.sql
data.edn

target/

.shadow-cljs
node_modules
/.idea
/node_modules
/target
/public/js
yarn.lock
package-lock.json
.DS_Store
*.iml
